# MacOS DS_Store files
mod/.DS_Store

# Gradle cache folder
mod/.gradle

# Gradle build folder
mod/build

# IntelliJ
mod/out/
mod/.idea
mod/*.iml
# mpeltonen/sbt-idea plugin
mod/.idea_modules/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
mod/hs_err_pid*

# Common working directory
mod/run
